* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(61, 61, 167);
}

.content {
  border: 2px solid #000;
  margin-bottom: 1rem;
  border-radius: 9px;
}

header {
  margin-bottom: 2rem;
}

.container {
  max-width: 40rem;
  margin: 5rem auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: 9px;
}

.title {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.flex {
  display: flex;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);

  justify-content: space-between;
  padding: 1rem 0 0.5rem 0;
}

.btn {
  background: none;
  border-color: rgb(61, 61, 167);
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 0rem;
}
